spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/whitehall_yesterday}
    username: ${DB_USERNAME:whitehall}
    password: ${DB_PASSWORD:whitehall}
    driver-class-name: org.postgresql.Driver
  flyway:
    enabled: true
    locations: classpath:db/migration

server:
  port: ${SERVER_PORT:8080}

logging:
  level:
    root: INFO
    whitehall.yesterday: DEBUG
